<article>
  <ul>
    <li>
      Автор: <a href="{% url 'posts:profile' post.author %}">{{ post.author.get_full_name }}</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>
  {% if not group and post.group %}
  <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
  <br>
  <a href="{% url 'posts:groups' post.group.slug %}">все записи группы</a>
  {% endif %}
  {% if not forloop.last %}
  <hr>
  {% endif %}
</article>

