{% extends 'base.html' %}
{% block title %}
Detail
{% endblock %}
{% block content %}
{% load thumbnail %}
<div class="row">
  <article>
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
      <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
    <li>
        Группа: {{ post.group }}
        <a href="{% url 'posts:groups' post.group.slug %}">
          все записи группы
        </a>
    </li>
  </ul>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>{{ post.text }}</p>

</article>
  <article class="col-12 col-md-9">
    <p>
      {% if post.author == request.user %}
      <a href="{% url 'posts:post_edit' post.id %}">Редактировать пост</a>
      {% endif %}
    </p>
  </article>
</div>

{% endblock %}